body {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: center;
	text-align: center;
	background-color: rgb(37, 37, 246);
}
.REWARD_TABLE {
	display: inline-flex;
	flex-grow: 4;
	background-color: rgb(2, 2, 138);
	color: gold;
	margin: 1rem;
	border: gold;
	border-style: solid;
	text-align: left;
}
#cardContainer {
	display: inline-flex;
	flex-wrap: wrap;
	flex-grow: 4;
	background-color: rgb(2, 2, 138);
	border: gold;
	margin: 1rem;
	border-style: solid;
	text-align: right;
}
.currencyContainer {
	display: inline-flex;
	/* flex-direction: column; */
	background-color: rgb(2, 2, 138);
	color: gold;
	margin: 1rem;
	border: gold;
	border-style: solid;
	text-align: left;
}
.card {
	display: inline-flex;
	justify-content: space-between;
	font-size: 200%;
	width: 10rem;
	height: 14rem;
	background-color: rgba(240, 240, 223, 0.747);
	margin: 1rem;
	border-radius: 0.5rem;
	text-align: center;
	cursor: pointer;
}
.cardHold {
	border: solid;
	border-color: red;
	display: inline-flex;
	justify-content: space-between;
	font-size: 200%;
	width: 10rem;
	height: 14rem;
	background-color: rgba(240, 240, 223, 0.747);
	margin: 1rem;
	border-radius: 0.5rem;
	text-align: center;
	cursor: pointer;
	filter: brightness(130%);
}

.cardback {
	display: inline-flex;
	justify-content: flex-start;
	width: 10rem;
	height: 14rem;
	background-image: url('VisualAssets/back.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin: 1rem;
	border-radius: 0.5rem;
	text-align: center;
	cursor: pointer;
}
.card:hover {
	filter: brightness(140%);
	transform: translateY(-2px);
	transition: transform 34ms;
}
.red {
	color: red;
}
.black {
	color: black;
}
.card-topleft {
	position: absolute;
	top: 0.5em;
	left: 0.75em;
}
.card-bottomright {
	display: inline-flex;
	justify-self: end;
	transform: rotate(180deg);
}
.card-corner-rank,
.card-corner-suit {
	width: 1em;
	text-align: center;
	transform: translate(-50%, 0);
}
